<!DOCTYPE html>
<html>
	<head>
		<link href="/assets/styles.css" rel="stylesheet" />
	</head>
	<body>
        <%- include('partials/nav'); %>
		<h1>Contact us</h1>
		<p>
            <ul>
                <li>Phone: 0118 999 881 99 9119 725 3</li>
            <li>Address: Up your butt and to the right</li>
        </ul>
		</p>
	</body>
</html>
