<!DOCTYPE html>
<html>
	<head>
		<link href="/assets/styles.css" rel="stylesheet" />
	</head>
	<body>
		<%- include('partials/nav'); %>
		<h1>Contact Success</h1>
		<p>
			Thanks for logging a request: <%= data.who %> has been contacted and will
			send an email to <%= data.email %> shortly
		</p>
	</body>
</html>
